.Text{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 54px;
    color: #000;
    margin-top: 80px;
   
}
.Img{
    margin-top: 80px ;
    margin-left: 480px;
}